{% extends 'base.html' %}

{% block contenido %}
<div class="card mx-auto" style="width: 400px; margin-top:20px">
  <div class="card-body">
    <h2 class="card-title">Recuperar Contraseña</h2>
    {% if error %}
      <p class="card-text text-danger">{{ error }}</p>
    {% endif %}
    <form method="post" action="{% url 'recuperar_contrasena' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" class="form-control" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" class="form-control" name="password" required>
      </div>
      <button type="submit" class="btn btn-warning text-dark">Recuperar Contraseña</button>
    </form>
  </div>
</div>
{% endblock %}